/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* mon CSS */

header{
  height: 190px;
}

#imgHeader{
  height: 200px;
  background-image: url("img/header.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

nav{
  text-align: center;
  height: 40px;
  background-color: #CEBAAF;
}


#menu-deroulant, #menu-deroulant ul {
    padding: 0;
    margin: 8px 0;
    list-style: none;
    text-align: center;

}

#menu-deroulant li {
    display: inline-block;
    position: relative;
    border-radius: 8px 8px 0 0;

}
#menu-deroulant ul li {
    display: inherit;
    border-radius: 0;
}
#menu-deroulant ul li:hover {
    border-radius: 0;
}
#menu-deroulant ul li:last-child {
    border-radius: 0 0 8px 8px;
}
#menu-deroulant ul {
    position: absolute;
		vertical-align: middle;
    z-index: 100;
    max-height: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.3);
    -moz-transition: .8s all .3s;
    -webkit-transition: .8s all .3s;
    transition: .8s all .3s;
}
#menu-deroulant li:hover ul {
    max-height: 20em;
}
#menu-deroulant a {
    text-decoration: none;
    display: block;
		color: #fff;
    font-family: arial;
}
#menu-deroulant ul a {
    padding: 8px 0;
}
#menu-deroulant li:hover li a {
    color: #fff;
    text-transform: inherit;
}
#menu-deroulant li li:hover a {
    color: #E6154D
;
}
#menu-deroulant li:hover a {
    color: #333;
}

h1{
  text-shadow: 0px 2px 2px rgba(#6F7E61, 0.4);
  padding-top: 95px;
  text-align: center;
  font-size: 40px;
  font-size: 50px;
  font-family: 'Lobster', cursive;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  color: #fff;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 4px 4px 4px rgba(28,23,94,1);
  text-transform: lowercase;
  letter-spacing: 3px;
  display: inline-block;
}

img{
  width: 5%;
  display: inline-block;
}

#rs{
  width: 150px;
  height: 40px;
  position:absolute;
  right: 10px;
}

#rs img{
  width: 40px;
  right: 10px;
}


footer{
	font-size: 15px;
	background-color: #CEBAAF;
	color: #777;
	position: fixed;
	bottom: 0;
	width: 100%;
}

li{
display: inline-block;
margin-top: 20px;
}

#copyright{
	text-align: center;
	padding: -bottom: 50px;
}

#contact{
	text-align: right;
	margin-bottom: 10px;
}

.diapo{
	height: 300px;
}

.diapo li{
	width: 800px;
}
